@font-face {
  font-family:'SFPro';
  font-style:normal;
  font-weight:100;
  src: url("./SFPro.ttf") format("truetype");
}

*{
  font-family: SFPro;
}

p{
  text-align: justify;
  text-justify: inter-word;
}

.main {
  width:77.5vw;
  margin:0 auto;
  height: auto; /*Card Height */
}